.pk-header {
  flex-shrink: 0;
  background-color: #455A64; /** Blue Grey 700 */
}

.pk-header-toolbar {
  float: right;
  padding: 4px;
}

.page-title {
  color: white;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 8px;
}

.pk-header .btn {
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
  margin-right: 4px;
  padding: 4px;
}

.pk-header .btn:hover {
  background-color: #546E7A; /** Blue Grey 600 */
  border-color: transparent;
  color: #fafafa; /** grey: 50 */
  margin-right: 4px;
  padding: 4px;
}

.pk-header .btn.active,
.pk-header .open > .btn-default.dropdown-toggle,
.pk-header .open > .btn-default.dropdown-toggle:hover {
  background-color: #546E7A; /** Blue Grey 600 */
  border-color:transparent;
  color: #fafafa; /** grey: 50 */
  margin-right: 4px;
  padding: 4px;
}

.pk-header-status {
  background-color: #B0BEC5;  /* MD "Blue Grey" palette @200 */
  border: 3px solid #b0bec5;
  border-radius: 2px 2px 2px 2px;
  /* Set text to match .btn. TODO(klausw): figure out where these got set. */
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
