.pk-header {
  flex-shrink: 0;
  background-color: #455A64; /** Blue Grey 700 */
}

.pk-header-toolbar {
  float: right;
  padding: 4px;
}

.page-title {
  color: white;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 8px;
}

.pk-header .btn {
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
  margin-right: 4px;
  padding: 4px;
}

.pk-header .btn:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin-right: 4px;
  padding: 4px;
}

.pk-header .btn.active {
  background-color: #ECEFF1; /** Blue Grey 50 */
  color: #263238; /** Blue Grey 900 */
  margin-right: 4px;
  padding: 4px;
}
