html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

div:focus {
  outline: none;
}

label {
  font-weight: normal;
}

.pk-page-canvas {
  height: 100%;
  width: 100%;
}

.pk-page-body {
  overflow: hidden;
}

.pk-resize-left, .pk-resize-right {
  background-color: #F0F0F0;
  cursor: col-resize;
  flex-shrink: 0;
  width: 5px;
}

.pk-resize-top, .pk-resize-bottom {
  background-color: #F0F0F0;
  cursor: row-resize;
  flex-shrink: 0;
  height: 5px;
}

.pk-page-leftwell {
  width: 300px;
  min-width: 225px;
  overflow-x: none;
  overflow-y: none;
  flex-shrink: 0;
}

.pk-page-content {
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: auto;
}

.pk-page-content-cell {
  padding: 8px;
}

.pk-page-footer {
  height: 200px;
  min-height: 100px;
  overflow-x: auto;
  overflow-y: auto;
  flex-shrink: 0;
}

md-tooltip.md-default-theme {
  color: #000f55;
}

md-tooltip.md-default-theme .md-background {
  background-color: #fea;
}
