<div class="pk-page-canvas">
  <div class="pk-page-header">
    <explorer-header></explorer-header>
  </div>

  <div class="pk-page-body" ng-controller="DashboardCtrl as dashboardCtrl">

    <div class="pk-page-leftwell" id="pk-page-leftwell"
         ng-show="explorerCtrl.dashboard.selectedWidget">

      <query-editor />

    </div>

    <div resize="right" resize-element-id="pk-page-leftwell"
         ng-show="explorerCtrl.dashboard.selectedWidget">&nbsp;</div>

    <div class="pk-page-content">

      <dashboard ng-model="dashboardCtrl.dashboard.current.model" />

    </div>

    <div resize="left" resize-element-id="pk-page-rightwell"
         ng-show="explorerCtrl.dashboard.selectedWidget">&nbsp;</div>

    <div class="pk-page-rightwell" id="pk-page-rightwell"
         ng-show="explorerCtrl.dashboard.selectedWidget">

      <dashboard-config ng-model="dashboardCtrl.dashboard.current.model"></dashboard-config>

      <container-config
          ng-model="dashboardCtrl.dashboard.selectedContainer.model"
          ng-show="dashboardCtrl.dashboard.selectedContainer"></container-config>

      <chart-config ng-model="dashboardCtrl.dashboard.selectedWidget.model"></chart-config>

    </div>

  </div>

  <div
      resize="top" resize-element-id="pk-page-footer"
      ng-show="explorerCtrl.explorer.model.code_editor.isOpen">&nbsp;</div>

  <div
      class="pk-page-footer" id="pk-page-footer"
      ng-show="explorerCtrl.explorer.model.code_editor.isOpen">

    <widget-editor></widget-editor>

  </div>
</div>