<div>
  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">project id</div>
    <div class="pk-sidebar-item-value">
      <input class="form-control widget_datasource_project_id"
             ng-model="ngModel.datasource.config.results.project_id"
             placeholder="{{ dashboardSvc.current.model.project_id ||
                             configSvc.default_project }}">
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">dataset</div>
    <div class="pk-sidebar-item-value">
      <input class="form-control widget_datasource_dataset_name"
             ng-model="ngModel.datasource.config.results.dataset_name"
             placeholder="{{ dashboardSvc.current.model.dataset_name ||
                             configSvc.default_dataset }}">
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">table</div>
    <div class="pk-sidebar-item-value">
      <input class="form-control widget_datasource_table_name"
             ng-model="ngModel.datasource.config.results.table_name"
             placeholder="{{ dashboardSvc.current.model.table_name ||
                             configSvc.default_table }}">
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">table format</div>
    <div class="pk-sidebar-item-value">
      <md-select
             class="widget_datasource_table_format"
             placeholder="{{ dashboardSvc.getTablePartition(
                 dashboardSvc.current.model.table_partition ||
                 dashboardSvc.DEFAULT_TABLE_PARTITION).label }} (default)"
             ng-model="ngModel.datasource.config.results.table_partition">
        <md-option ng-repeat="option in dashboardSvc.TABLE_PARTITIONS"
                value="{{ option.partition }}"
                title="{{ option.tooltip }}">{{ option.label }}</md-option>
      </md-select>
    </div>
  </div>

  <div class="pk-sidebar-item">
    <md-tooltip md-direction="right">
      Replaces CURRENT_TIMESTAMP() in SQL queries with fixed timestamps.  This setting affects <br>
      the selected widget.  Use the dashboard panel setting to affect all widgets on the dashboard.
    </md-tooltip>
    <div class="pk-sidebar-item-label">optimize CURRENT_TIMESTAMP</div>
    <div class="pk-sidebar-item-value">
      <table class="checkbox-row">
        <tr>
          <td class="checkbox-row-select">
            <md-select
                    class="dashboard-datasource-bigquery-optimize-current-timestamp-enabled"
                    placeholder="{{ dashboardSvc.current.model.config.bigQuery.optimizeCurrentTimestamp.enabled ? 'enabled' : 'disabled' }}*"
                    ng-model="ngModel.datasource.config.bigQuery.optimizeCurrentTimestamp.enabled">
              <md-option ng-value="true">enabled</md-option>
              <md-option ng-value="false">disabled</md-option>
            </md-select>
          </td>
          <td class="checkbox-row-text">
            for last
          </td>
          <td class="checkbox-row-select">
            <md-select
                    class="dashboard-datasource-bigquery-optimize-current-timestamp-granularity"
                    placeholder="{{ dashboardSvc.current.model.config.bigQuery.optimizeCurrentTimestamp.granularity }}*"
                    ng-model="ngModel.datasource.config.bigQuery.optimizeCurrentTimestamp.granularity">
              <md-option
                      ng-repeat="granularity in bigqueryDatasourceSvc.ALL_TIMESTAMP_GRANULARITY"
                      ng-value="granularity">{{ granularity }}</md-option>
            </md-select>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>