/**
 * Default styling for Explorer UI.
 *
 * Author: joemu@google.com (Joe Allan Muharsky)
 */

/* Page Layout */

.spinner {
  height:50px;
  width:50px;
  margin:20px auto;
  position:relative;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border:6px solid #F1F1F1;
  border-radius:100%;
  box-sizing: content-box;
}

.spinner:before {
  content:"";
  display:block;
  position:absolute;
  left:-6px;
  top:-6px;
  height:100%;
  width:100%;
  border-top:6px solid #CFCFCF;
  border-left:6px solid transparent;
  border-bottom:6px solid transparent;
  border-right:6px solid transparent;
  border-radius:100%;
  box-sizing: content-box;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

.flex {
  display: flex;
  display: -webkit-flex;
}

.pull-right {
  float: right;
}

html, body {
  height: 100%;
  width: 100%;
}

.perfkit-page {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
  min-height: 0px;
  overflow: hidden;
  width: 100%;
}

.perfkit-page-body {
  display: flex;
  display: -webkit-flex;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  height: 100%;
}

.perfkit-page-sidebar-left {
  border-right: 1px solid #CCC;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  font-size: 13px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 240px;
}

.perfkit-page-sidebar-right {
  border-left: 1px solid #CCC;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  font-size: 13px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 220px;
}

.perfkit-sidebar-close-button {
  float: right;
  margin-right: 5px;
  margin-top: -6px;
}

.perfkit-page-content {
  flex-grow: 100;
  -webkit-flex-grow: 100;
  overflow-x: auto;
  overflow-y: auto;
}

.perfkit-page-footer {
  background-color: rgb(241, 241, 241);
  border-top: 1px solid rgb(229, 229, 229);
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}

.perfkit-footer-open {
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

.perfkit-footer-toolbar {
  height: 48px;
  padding: 4px;
}

.perfkit-footer-close-button {
  float: right;
  margin-right: 5px;
}

.pagination {
  margin: 0;
}

.pagination ul {
  width: 100%;
}

.pagination ul>li>a, .pagination ul>li>span {
  width: 30px;
  text-align: center;
}

/* Element Styling */
body {
  font-family: arial, sans-serif;
  font-size: 13px;
  color: #222;
  margin: 0;
}

a {
  color: #1155CC;
  text-decoration: none;
}

a:visited {
  color: #6611CC;
}

a:active {
  color: #DD4B39;
}

h2 {
  color: #DD4B39;
}

/* Sidebar Layout */
.sidebar-group {
  border-bottom: 1px solid rgb(235, 235, 235);
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom: 4px;
}

.sidebar-group-title {
  color: #d14836;
  font-weight: bold;
  margin-bottom: 4px;
}

.sidebar-group-note {
  color: #666;
  font-size: .95em;
  font-style: italic;
  margin-bottom: 4px;
}

.sidebar-item {
  margin-bottom: 4px;
  padding-left: 4px;
}

.navigation-link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.navigation-link-current {
  color: #d14836;
  font-weight: bold;
}

.sidebar-item-label {
  padding-bottom: 4px;
}

.sidebar-item-value {
  padding-bottom: 4px;
}

.sidebar-input-full, .sidebar-item-value > input {
  width: 180px;
  margin-right: 4px;
}

.sidebar-item-value > input[type='checkbox'] {
  width: auto;
}

/* Butter Bar */
#butter {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  padding: 4px 8px 6px 8px;
  position: fixed;
  text-align: center;
  top: 0;
}

.butter-info {
  background-color: #F9EDBE;
  border: 1px solid #F0C36D;
}

.butter-error {
  background-color: #DD4B39;
  border: 1px solid #DD4B39;
  color: white;
}

/* Review Page Classes */
.perfkit-datepicker {
  width: 80px;
}

.perfkit-filtercombo {
  width: 170px;
}

.goog-menu {
  max-width: 800px;
}

#page-sql-popup {
  border: 1px solid #d9d9d9;
  border-radius: 1px;
  padding: 4px;
  position: absolute;
  z-index: 65000;
}

#page-sql-text {
  min-height: 400px;
  min-width: 400px;
}

#page-url-popup {
  position: absolute;
  z-index: 65000;
}

#page-url-text {
  min-height: 36px;
  min-width: 800px;
}

.log_uri_link[href=''] {
  display:none;
}

.picker_item > input {
  border: 1px solid #d9d9d9;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px
}

.picker_item:not(:first-child) {
  margin-top: 5px;
}

.picker_item > input:focus {
  border: 1px solid #4d90fe;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  outline: none
}

/* Style overrides for Bootstrap + GViz Chart Editor */
.google-visualization-charteditor-dialog {
  width: auto;
  margin: auto;
  z-index: 100;
}

.google-visualization-charteditor-dialog * {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}

.google-visualization-charteditor-short-title {
  width: auto;
}

.form-control {
  display: inline-block;
}

.modal .modal-dialog {
  -webkit-box-shadow: 0;
  background-color: rgba(255,0,0,0);
  border: 0;
  padding: 0;
  position: relative;
}

.has-error {
  color: #a94442;
}
