<div class="pk-popup pk-popup-autocomplete" tabindex="-1">
  <div class="pk-popup-item"
       ng-class="{'pk-popup-item-unmatched': (
          ngModel.length != 0 && ngModel != null &&
          data.slice(0, ngModel.length).toUpperCase() != ngModel.toUpperCase()),
          'pk-popup-item-matched': (
          ngModel.length != 0 && ngModel != null &&
          data.slice(0, ngModel.length).toUpperCase() == ngModel.toUpperCase())}"
       ng-repeat="data in popupboxData"
       ng-click="selectValue(data);">
    {{ getDisplayValue(data) }}
  </div>
</div>
