<div class="perfkit-popup perfkit-popup-autocomplete" tabindex="-1">
  <div class="perfkit-popup-item"
       ng-class="{'perfkit-popup-item-unmatched': (
          ngModel.length != 0 && ngModel != null &&
          data.slice(0, ngModel.length).toUpperCase() != ngModel.toUpperCase()),
          'perfkit-popup-item-matched': (
          ngModel.length != 0 && ngModel != null &&
          data.slice(0, ngModel.length).toUpperCase() == ngModel.toUpperCase())}"
       ng-repeat="data in popupboxData"
       ng-click="selectValue(data);">
    {{ getDisplayValue(data) }}
  </div>
</div>
