.pk-autocomplete-popup {
  position: absolute;
  padding: 8px;
  border: 1px solid #999;
}

.pk-popup-item-unmatched {
  display: none;
  color: #999;
}

.pk-popup-item-matched {
  font-weight: bold;
  background-color: #EFEFEF;
}
