<div class="sidebar-item">
  <div class="sidebar-item-label">ctrl.title</div>
  <div class="sidebar-item-value">
    <div class="input-group">
      <input class="form-control"
           popupbox
           popupbox-template-url="/static/components/widget/query/query-filter-directive.html"
           popupbox-data="ctrl.autocompleteItems"
           popupbox-model="ctrl.queryFilterModel"
           ng-model="ctrl.pkModel">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-refresh"
          ng-click="ctrl.refreshAutocomplete()"></i>
      </span>
    </div>
  </div>
</div>
