.pk-page-footer {
  overflow: hidden;
}

.pk-page-footer .btn {
  background-color: transparent;
  border: 1px solid transparent;
  color: #fafafa; /** grey: 50 */
  margin-right: 4px;
  padding: 4px;
}

.pk-page-footer .btn:hover {
  border-color: #78909C; /** blue-grey: 400 */
}

.pk-page-footer .btn.active {
  background-color: #78909C;
  border: 1px solid transparent;
  color: #fafafa; /** grey: 50 */
  margin-right: 4px;
  padding: 4px;
}

.pk-footer-actions {
  float: right;
}

.pk-footer-actions .pk-glyph-button {
  padding: 2px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.pk-footer-actions .pk-glyph-button:hover {
  border-color: #78909C; /** blue-grey: 400 */
  color: #fafafa; /** grey: 50 */
}

.pk-footer-open {
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

.pk-footer-toolbar {
  background-color: #455a64;
  color: #fafafa; /** grey: 50 */
  flex-shrink: 0;
  padding: 4px;
}

.pk-footer-body {
  overflow: auto;
}

.CodeMirror {
  height:auto;
}

.CodeMirror-scroll {
  overflow-y: auto;
  overflow-x: auto;
}

