.pk-page-footer {
  background-color: rgb(241, 241, 241);
  border-top: 1px solid rgb(229, 229, 229);
  overflow: hidden;
}

.pk-footer-open {
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

.pk-footer-toolbar {
  flex-shrink: 0;
  height: 48px;
  padding: 4px;
}

.pk-footer-toolbar-cell {
  padding-left: 6px;
  vertical-align: middle;
}

.pk-footer-body {
  overflow: auto;
}

.pk-footer-close-button {
  float: right;
  margin-right: 5px;
}

.CodeMirror {
  height:auto;
}

.CodeMirror-scroll {
  overflow-y: auto;
  overflow-x: auto;
}

