<div style="height:100%">
  <div ng-switch="footerCtrl.settings.isOpen" style="height:100%">
    <div ng-switch-when="true" class="perfkit-footer-open" style="display:table; height:100%; width: 100%">
      <div class="perfkit-footer-toolbar" style="display:table-row">
        <span class="glyphicon glyphicon-remove perfkit-glyph-button perfkit-footer-button"
              ng-click="footerCtrl.closeCodeEditor()"></span>
        <div class="btn-group perfkit-toolbar-section">
          <button type="button" class="btn btn-default"
               ng-model="footerCtrl.settings.selectedMode"
               ng-repeat="mode in footerCtrl.settings.modes"
               btn-radio="mode">{{ mode }}</button>
        </div>
        <div class="perfkit-toolbar-section" ng-switch="footerCtrl.settings.selectedMode">
          <div ng-switch-when="JSON">
            <button type="button" class="btn btn-primary"
                    ng-click="footerCtrl.dashboard.refreshWidget(footerCtrl.dashboard.selectedWidget)">
              Refresh
            </button>
          </div>
          <div ng-switch-when="SQL">
            <button type="button" class="btn btn-primary"
                    ng-click="footerCtrl.dashboard.refreshWidget(footerCtrl.dashboard.selectedWidget)">
              Refresh
            </button>
            <button type="button" class="btn btn-default"
                    ng-show="!footerCtrl.dashboard.selectedWidget.model.datasource.custom_query"
                    ng-click="footerCtrl.explorer.customizeSql()">
              Edit SQL
            </button>
            <button type="button" class="btn btn-default"
                    ng-show="footerCtrl.dashboard.selectedWidget && footerCtrl.dashboard.selectedWidget.model.datasource.custom_query"
                    ng-click="footerCtrl.explorer.restoreBuilder()">
              Use SQL Builder
            </button>
          </div>
          <div ng-switch-when="LOG">
            <button type="button" class="btn btn-default"
                    ng-show="footerCtrl.explorer.errorService.errors.length > 0"
                    ng-click="footerCtrl.explorer.errorService.removeAllErrors()">
              Clear {{ footerCtrl.explorer.errorService.errors.length }} warning<span ng-show="footerCtrl.explorer.errorService.errors.length > 1">s</span>
            </button>
          </div>
        </div>
      </div>
      <div ng-switch="footerCtrl.settings.selectedMode" style="display:table-row">
        <div ng-switch-when="JSON" fill>
          <div>
            <textarea codemirror="footerCtrl.editorOptionsJSON"
                      ng-model="footerCtrl.currentJson.text">
            </textarea>
          </div>
        </div>
        <div ng-switch-when="SQL">
          <div ng-switch="footerCtrl.dashboard.selectedWidget.model.datasource.custom_query">
            <div ng-switch-when="true">
              <div fill>
                <textarea codemirror="footerCtrl.editorOptionsSQL"
                          ng-model="footerCtrl.dashboard.selectedWidget.model.datasource.query">
                </textarea>
              </div>
            </div>
            <div ng-switch-default>
              <div fill>
                <textarea codemirror="footerCtrl.editorOptionsSQLView"
                          ng-model="footerCtrl.dashboard.selectedWidget.model.datasource.query">
                </textarea>
              </div>
            </div>
          </div>
        </div>
        <div ng-switch-when="LOG">
          <alert-log />
        </div>
      </div>
    </div>

    <div ng-switch-default class="perfkit-footer-toolbar">
      <button type="button" class="btn btn-default"
              ng-show="footerCtrl.dashboard.selectedWidget"
              ng-click="footerCtrl.openWidgetJsonEditor()">
        Edit Widget JSON
      </button>
      <button type="button" class="btn btn-default"
              ng-show="footerCtrl.dashboard.selectedWidget && !footerCtrl.dashboard.selectedWidget.model.datasource.custom_query"
              ng-click="footerCtrl.openQuerySqlEditor()">
        View SQL
      </button>
      <button type="button" class="btn btn-default"
              ng-show="footerCtrl.dashboard.selectedWidget && footerCtrl.dashboard.selectedWidget.model.datasource.custom_query"
              ng-click="footerCtrl.openQuerySqlEditor()">
        Edit SQL
      </button>
      <button type="button" class="btn btn-default"
              ng-click="footerCtrl.explorer.showLog()"
              ng-show="footerCtrl.explorer.errorService.errors.length > 0 &&
                       !(footerCtrl.explorer.model.code_editor.isOpen &&
                         footerCtrl.explorer.model.code_editor.selectedMode == 'LOG')">
        Show {{ footerCtrl.explorer.errorService.errors.length }} warning<span ng-show="footerCtrl.explorer.errorService.errors.length != 1">s</span>
      </button>
    </div>
  </div>
</div>

