/**
 * Styling for the dashboard's widgets.
 *
 * Author: joemu@google.com (Joe Allan Muharsky)
 */

.pk-widget {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}

.pk-widget-body {
  background: #ffffff;
  border: 1px solid #CCC;
  margin: 15px;
}

.pk-widget-body.pk-widget-no-overflow {
  overflow: hidden;
}

.pk-widget-content {
  background: #ffffff;
}

.pk-container {
  margin: 0.25em 0;
}

.pk-widget-section-text {
  padding-left: 8px;
  padding-right: 8px;
}

.pk-widget-toolbar {
  background: #ffffff;
  display: flex;
  flex-direction: row-reverse;
  min-height: 25px;
  padding: 4px 10px;
}

.pk-widget-footer, .pk-widget-header {
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
}

.pk-widget-statistics {
  padding-bottom: 4px;
  padding-left: 8px;
}

.pk-widget-title {
  display: inline-block;
  flex-grow: 1;
  font-weight: bold;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.pk-container-title {
  display: inline-block;
}

.pk-add-container {
  margin: 15px;
}

.pk-widget-selected .pk-widget-body {
  border-color: #ffff00;
  border-width: 2px;
  margin: 14px;
}

.pk-widget-selected .pk-widget-title {
  color: #d14836;
  font-weight: bold;
}

/** Hide all the errors drawn by the gviz charts */
.pk-chart > [id^="google-visualization-errors-all-"] {
  display: none !important;
}

.pk-chart-loading .md-left .md-half-circle {
  border-color: #B0BEC5 !important; /** Blue-Grey 200 */
}

.pk-chart-loading .md-right .md-half-circle {
  border-color: #CFD8DC !important; /** Blue-Grey 100 */
}

.pk-chart-error {
  color: #777777;
  font-size: .95em;
  font-style: italic;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.pk-chart-hidden {
  visibility: hidden;
  position: absolute !important;
}

.pk-widget-close-button {
  float: right;
  margin-right: -4px;
  margin-top: -2px;
}

.pk-widget-button {
  margin-left: 4px;
  cursor: pointer;

}
