.bqgviz-tab {
  background-color: #e3f2fd; /** blue:50 */
  border-right: 3px solid #e3f2fd;

  color: #0d47a1; /** blue: 900 */
}

.bqgviz-tab.pk-sidebar-tab-selected {
  background-color: #0d47a1; /** blue: 900 */
  border-right: 3px solid #0d47a1; /** blue:900 */
  color: #e3f2fd;
}

.bqgviz-tab:hover,
.bqgviz-tab.pk-sidebar-tab-selected:hover {
  background-color: #bbdefb; /** blue:100 */
  border-right: 3px solid #1e88e5; /** blue:600 */
  color: #0d47a1; /** blue: 900 */
}

.bqgviz-panel-title {
  background-color: #0d47a1; /** blue:900 */
  
  /** Material Design 'blue:50' */
  color: #e3f2fd;
}

.bqgviz-panel {
  /** Material Design 'blue:50' */
  background-color: #e3f2fd;
}

.widget-tab {
  /** Material Design 'blue:50' */
  background-color: #e3f2fd;
  border-right: 3px solid #e3f2fd;

  /** Material Design 'blue:900' */
  color: #0d47a1;
}

.widget-tab.pk-sidebar-tab-selected {
  background-color: #0d47a1; /** blue: 900 */
  border-right: 3px solid #0d47a1; /** blue:900 */
  color: #e3f2fd;
}

.widget-tab:hover,
.widget-tab.pk-sidebar-tab-selected:hover {
  background-color: #bbdefb; /** blue:100 */
  border-right: 3px solid #1e88e5; /** blue:600 */
  color: #0d47a1; /** blue: 900 */
}

.widget-panel-title {
  background-color: #0d47a1; /** blue: 900 */
  color: #e3f2fd; /** blue: 50 */
}

.widget-panel {
  background-color: #e3f2fd; /** blue: 50 */
}
