<div>
  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">title</div>
    <div class="pk-sidebar-item-value">
      <input type="text" class="form-control widget-title"
          ng-model="ngModel.title">
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">url</div>
    <div class="pk-sidebar-item-value">
      <input type="text" class="form-control widget-url"
          ng-model="ngModel.url">
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">content</div>
    <div class="pk-sidebar-item-value">
      <md-select
          ng-model="ngModel.type"
          class="pk-sidebar-input-full widget-type">
        <md-option ng-repeat="(name, value) in widgetTypes" ng-value="value">{{ value }}</md-option>
      </md-select>
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">
      header (formatted with
      <a href="https://github.com/GoogleCloudPlatform/PerfKitExplorer/wiki/Showdown-Markdown-Syntax"
         target="_blank">Showdown</a>)
    </div>
    <div class="pk-sidebar-item-value">
      <textarea class="form-control widget-header-text"
          ng-model="ngModel.header_text" ng-disabled="!ngModel"></textarea>
    </div>
  </div>

  <div class="pk-sidebar-item" ng-show="ngModel.type === widgetTypes.TEXT">
    <div class="pk-sidebar-item-label">
      body (formatted with
      <a href="https://github.com/GoogleCloudPlatform/PerfKitExplorer/wiki/Showdown-Markdown-Syntax"
         target="_blank">Showdown</a>)
    </div>
    <div class="pk-sidebar-item-value">
      <textarea class="form-control widget-body-text"
          ng-model="ngModel.datasource.text" ng-disabled="!ngModel"></textarea>
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">
      footer (formatted with
      <a href="https://github.com/GoogleCloudPlatform/PerfKitExplorer/wiki/Showdown-Markdown-Syntax"
         target="_blank">Showdown</a>)
    </div>
    <div class="pk-sidebar-item-value">
      <textarea class="form-control widget-footer-text"
          ng-model="ngModel.footer_text" ng-disabled="!ngModel"></textarea>
    </div>
  </div>

  <div class="pk-sidebar-item"
      ng-show="ngModel.type">
    <div class="pk-sidebar-item-value">
      <md-checkbox class="widget-scroll-overflow" ng-model="ngModel.scroll_overflow">
        <md-tooltip md-direction="right">
          If true, will scroll overflow content, rather than stretching the widget to accomodate.
        </md-tooltip>
        scroll overflow
      </md-checkbox>
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">column span</div>
    <div class="pk-sidebar-item-value">
      <input type="number" min="1"
          class="form-control widget-layout-columnspan"
          ng-model="ngModel.layout.columnspan">
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">
      <input type="checkbox"
             class="widget-columns-show-date"
             ng-model="ngModel.show_statistics">
      show statistics
    </div>
  </div>
</div>
