<div>
  <div class="pk-sidebar-note"
      ng-show="ngModel.datasource.custom_query">
    Custom SQL statements do not support the builder UX.  To build your
    SQL statement with UI controls, click 'Use SQL Builder' in the toolbar.
  </div>
  <div ng-hide="ngModel.datasource.custom_query">
    <div class="pk-sidebar-group-title">Columns</div>
  
    <div class="pk-sidebar-item">
      <div class="pk-sidebar-item-label">
        <input type="checkbox"
               class="widget-columns-show-date"
               ng-model="ngModel.datasource.config.results.show_date">
        show date
      </div>
    </div>
  
    <div class="pk-sidebar-item" ng-show="ngModel.datasource.config.results.show_date">
      <div class="pk-sidebar-item-label">
        grouping (blank for none)
      </div>
      <div class="pk-sidebar-item-value">
        <input class="form-control widget-columns-date-group"
           popupbox
           popupbox-template-url="/static/components/widget/query/picklist-template.html"
           popupbox-data="queryEditorSvc.date_groupings"
           popupbox-model="ngModel.datasource.config.results.date_group"
           ng-model="ngModel.datasource.config.results.date_group">
      </div>
    </div>
    
    <div class="pk-sidebar-item">
      <div class="pk-sidebar-item-label">fields</div>
      <div class="pk-sidebar-item-value">
        <span class="widget-columns-fields"
            multibox
            multibox-placeholder="'field name'"
            multibox-display-prop="name"
            multibox-focus-on-select="true"
            multibox-data="queryEditorSvc.samples_mart_fields"
            multibox-on-insert-option="addFieldColumn()"
            multibox-selected-options="ngModel.datasource.config.results.fields">
        </span>
      </div>
    </div>
    
    <div class="pk-sidebar-item">
      <div class="pk-sidebar-item-label">
        <input type="checkbox"
            ng-model="ngModel.datasource.config.results.measure_values">
        measure values
      </div>
      <div class="pk-sidebar-item-value"
          ng-show="ngModel.datasource.config.results.measure_values === true">
        <span
            class="widget-columns-measures"
            multibox
            multibox-placeholder="'bqsql function'"
            multibox-display-prop="name"
            multibox-focus-on-select="true"
            multibox-data="queryEditorSvc.samples_mart_measures"
            multibox-on-insert-option="addMeasureColumn()"
            multibox-selected-options="ngModel.datasource.config.results.measures">
        </span>
      </div>
    </div>
    
    <div class="pk-sidebar-item">
      <div class="pk-sidebar-item-label">labels</div>
      <div class="pk-sidebar-item-value">
        <span
            class="widget-columns-labels"
            multibox
            multibox-placeholder="'label'"
            multibox-display-prop="label"
            multibox-popup-prop="name"
            multibox-focus-on-select="true"
            multibox-on-insert-option="addMetadataColumn()"
            multibox-selected-options="ngModel.datasource.config.results.labels">
        </span>
      </div>
    </div>
  </div>
</div>
