<div>
  <div class="sidebar-item">
    <div class="sidebar-item-label">project id</div>
    <div class="sidebar-item-value">
      <input class="form-control widget_datasource_project_id"
             ng-model="ngModel.datasource.config.results.project_id"
             placeholder="{{ dashboardSvc.current.model.project_id ||
                             configSvc.default_project }}">
    </div>
  </div>

  <div class="sidebar-item">
    <div class="sidebar-item-label">dataset</div>
    <div class="sidebar-item-value">
      <input class="form-control widget_datasource_dataset_name"
             ng-model="ngModel.datasource.config.results.dataset_name"
             placeholder="{{ dashboardSvc.current.model.dataset_name ||
                             configSvc.default_dataset }}">
    </div>
  </div>

  <div class="sidebar-item">
    <div class="sidebar-item-label">table</div>
    <div class="sidebar-item-value">
      <input class="form-control widget_datasource_table_name"
             ng-model="ngModel.datasource.config.results.table_name"
             placeholder="{{ dashboardSvc.current.model.table_name ||
                             configSvc.default_table }}">
    </div>
  </div>

  <div class="sidebar-item">
    <div class="sidebar-item-label">table format</div>
    <div class="sidebar-item-value">
      <md-select
             class="widget_datasource_table_format"
             placeholder="{{ dashboardSvc.getTablePartition(
                 dashboardSvc.current.model.table_partition ||
                 dashboardSvc.DEFAULT_TABLE_PARTITION).label }} (default)"
             ng-model="ngModel.datasource.config.results.table_partition">
        <md-option ng-repeat="option in dashboardSvc.TABLE_PARTITIONS"
                value="{{ option.partition }}"
                title="{{ option.tooltip }}">{{ option.label }}</md-option>
      </md-select>
    </div>
  </div>
</div>