<div ng-controller="WidgetEditorCtrl as widgetEditorCtrl"
     ng-show="ngModel.chart">

  <div class="sidebar-group">
    <div class="sidebar-group-title">Chart</div>

    <div class="sidebar-item">
      <div class="sidebar-item-label">title</div>
      <div class="sidebar-item-value">
        <input type="text" class="form-control" ng-model="ngModel.title">
      </div>
    </div>

    <div class="sidebar-item">
      <div class="sidebar-item-label">chart type</div>
      <div class="sidebar-item-value">
        <!-- TODO: Drive this list from data (probably a JSON configuration file). -->
        <select ng-model="ngModel.chart.chartType"
                class="sidebar-input-full form-control">
          <option value="AreaChart">Area Chart</option>
          <option value="BarChart">Bar Chart</option>
          <option value="ColumnChart">Column Chart</option>
          <option value="ComboChart">Combo Chart</option>
          <option value="LineChart">Line Chart</option>
          <option value="PieChart">Pie Chart</option>
          <option value="ScatterChart">Scatter Chart</option>
          <option value="Table">Table</option>
        </select>
      </div>
    </div>

    <div class="sidebar-item">
      <div class="sidebar-item-label">column span</div>
      <div class="sidebar-item-value">
        <input type="number" min="1" class="form-control"
               ng-model="ngModel.layout.columnspan">
      </div>
    </div>

    <div class="sidebar-group-buttons">
      <button class="btn btn-default" ng-click="widgetEditorCtrl.openChartEditor()">
        Chart editor
      </button>
    </div>
  </div>
</div>