<div>
  <div ng-controller="WidgetEditorCtrl as widgetEditorCtrl">
    
    <div class="sidebar-item">
      <div class="sidebar-item-label">chart type</div>
      <div class="sidebar-item-value">
        <select ng-model="ngModel.chart.chartType"
                class="sidebar-input-full form-control">
          <option value="{{ chart.className }}" ng-repeat="chart in chartSvc.allCharts">{{ chart.title }}</option>
        </select>
      </div>
      <div class="sidebar-item-value">
        <a ng-href="https://developers.google.com/chart/interactive/docs/gallery/{{ ngModel.chart.chartType | lowercase }}"
           target="gvizDocs">Open documentation</a>
      </div>
    </div>
  
    
    <div ng-hide="ngModel.chart.chartType === chartSvc.CHART_TYPES.TABLE">
      <div class="sidebar-group-title">Legend</div>
        
      <div class="sidebar-item">
        <div class="side-bar-item-label">alignment</div>
        <div class="sidebar-item-value">
          <select ng-model="ngModel.chart.options.legend.alignment"
                  class="sidebar-input-full form-control">
            <option value="">(chart default)</option>
            <option value="{{ alignment }}" ng-repeat="alignment in chartSvc.LEGEND_ALIGNMENTS">{{ alignment }}</option>
          </select>
        </div>
      </div>
        
      <div class="sidebar-item">
        <div class="side-bar-item-label">max lines</div>
        <div class="sidebar-item-value">
          <input type="number" min="1" class="form-control"
                 ng-model="ngModel.chart.options.legend.maxLines">
        </div>
      </div>
    
      <div class="sidebar-item">
        <div class="side-bar-item-label">position</div>
        <div class="sidebar-item-value">
          <select ng-model="ngModel.chart.options.legend.position"
                  class="sidebar-input-full form-control">
            <option value="">(chart default)</option>
            <option value="{{ position }}" ng-repeat="position in chartSvc.LEGEND_POSITIONS">{{ position }}</option>
          </select>
        </div>
      </div>

      <div class="sidebar-group-title">Chart Area</div>

      <div class="sidebar-item">
        <div class="side-bar-item-label">top</div>
        <div class="sidebar-item-value">
          <input class="form-control"
                 ng-model="ngModel.chart.options.chartArea.top">
        </div>
      </div>
      
      <div class="sidebar-item">
        <div class="side-bar-item-label">left</div>
        <div class="sidebar-item-value">
          <input class="form-control"
                 ng-model="ngModel.chart.options.chartArea.left">
        </div>
      </div>
      
      <div class="sidebar-item">
        <div class="side-bar-item-label">height</div>
        <div class="sidebar-item-value">
          <input class="form-control"
                 ng-model="ngModel.chart.options.chartArea.height">
        </div>
      </div>
      
      <div class="sidebar-item">
        <div class="side-bar-item-label">width</div>
        <div class="sidebar-item-value">
          <input class="form-control"
                 ng-model="ngModel.chart.options.chartArea.width">
        </div>
      </div>

    </div>  

    <div class="sidebar-group-buttons">
      <button class="btn btn-default" ng-click="widgetEditorCtrl.openChartEditor()">
        Chart editor
      </button>
    </div>
  
  </div>
</div>
