<div>
  <div class="pk-toolbar-section">
    <button type="button"
            class="btn btn-default widget-refresh"
            ng-click="ctrl.refreshSelectedWidget()">
      Refresh
    </button>
    <button type="button" class="btn btn-default widget-sql-show"
            ng-show="ctrl.dashboardSvc.selectedWidget.model.type == ctrl.dashboardSvc.widgetFactorySvc.widgetTypes.CHART"
            ng-click="ctrl.explorerSvc.viewSql(true)">
      Edit SQL
    </button>
    <button type="button" class="btn btn-default widget-json-show"
            ng-click="ctrl.explorerSvc.editJson()">
      Edit JSON
    </button>
  </div>
  <div class="pk-toolbar-section">
    <div class="btn-group" uib-dropdown>
      <button type="button"
              class="btn btn-default column-add"
              uib-dropdown-toggle>
        Define Column
        <span class="caret"></span>
        <md-tooltip md-direction="top">
          Adds one or more <b>Column Styles</b> <i>(click to see options)</i>
        </md-tooltip>
      </button>
      <ul class="uib-dropdown-menu column-add-dropdown">
        <li class="columns-add-datasource"
            ng-show="ngModel.state().datasource.data"
            ng-click="ctrl.columnStyleSvc.addColumnsFromDatasource(ngModel)">
          <a>from datasource</a>
          <md-tooltip md-direction="right">
            Adds a <b>Column Style</b> for each field in your selected widget's <b>Query</b>
          </md-tooltip>
        </li>
        <li class="column-add-top"
            ng-click="ctrl.arrayUtilSvc.insertAt(
                ngModel.model.chart.columns,
                ctrl.columnStyleSvc.newColumn(),
                0)">
          <a>top</a>
          <md-tooltip md-direction="right">
            Adds a <b>Column Style</b> at the top of the list
          </md-tooltip>
        </li>
        <li class="column-add-before"
            ng-show="ctrl.columnStyleSvc.selectedColumn"
            ng-click="ctrl.arrayUtilSvc.insertBefore(
                ngModel.model.chart.columns,
                ctrl.columnStyleSvc.newColumn(),
                ctrl.columnStyleSvc.selectedColumn)">
          <a>before</a>
          <md-tooltip md-direction="right">
            Adds a <b>Column Style</b> at the bottom of the list
          </md-tooltip>
        </li>
        <li class="column-add-after"
            ng-show="ctrl.columnStyleSvc.selectedColumn"
            ng-click="ctrl.arrayUtilSvc.insertAfter(
                ngModel.model.chart.columns,
                ctrl.columnStyleSvc.newColumn(),
                ctrl.columnStyleSvc.selectedColumn)">
          <a>after</a>
          <md-tooltip md-direction="right">
            Adds a <b>Column Style</b> after the selected column
          </md-tooltip>
        </li>
        <li class="column-add-bottom"
            ng-click="ctrl.columnStyleSvc.addColumn(ngModel.model)">
          <a>bottom</a>
          <md-tooltip md-direction="right">
            Adds a <b>Column Style</b> before the selected column
          </md-tooltip>
        </li>
      </ul>
    </div>
    <button type="button" class="btn btn-default column-remove"
            ng-disabled="!ctrl.columnStyleSvc.selectedColumn"
            ng-click="ctrl.columnStyleSvc.removeColumn(
                ngModel, ctrl.columnStyleSvc.selectedColumn)">
      Remove Column
      <md-tooltip md-direction="top">
        Removes the <b>Column Style</b> from the list
      </md-tooltip>
    </button>
  </div>
  <div class="pk-toolbar-section">
    <button type="button" class="btn btn-default column-move-up"
            ng-disabled="!ctrl.columnStyleSvc.selectedColumn"
            ng-click="ctrl.columnStyleSvc.movePrevious(
                ngModel, ctrl.columnStyleSvc.selectedColumn)">
      <span class="glyphicon glyphicon-arrow-up"></span>
      <md-tooltip md-direction="top">
        Moves the <b>Column Style</b> to the previous position in the list
      </md-tooltip>
    </button>
    <button type="button" class="btn btn-default column-move-down"
            ng-disabled="!ctrl.columnStyleSvc.selectedColumn"
            ng-click="ctrl.columnStyleSvc.moveNext(
                ngModel, ctrl.columnStyleSvc.selectedColumn)">
      <span class="glyphicon glyphicon-arrow-down"></span>
      <md-tooltip md-direction="top">
        Moves the <b>Column Style</b> to the next position in the list
      </md-tooltip>
    </button>
  </div>
</div>
