<div class="multibox-row input-group" ng-repeat="option in multiboxSelectedOptions">
  <input
      class="multibox-input-control form-control"
      placeholder="{{ multiboxPlaceholder }}"
      ng-model="option[displayProp]"
      ng-blur="blurInput($event)"
      ng-focus="focusInput($event, option)">
  <span class="input-group-addon">
    <i class="glyphicon glyphicon-remove"
       ng-click="unselectOptionAt($index)"></i>
  </span>
</div>
<div class="multibox-row multibox-insert-row" ng-hide="isInsertRowFocused()">
  <input class="multibox-insert-control form-control"
      ng-click="addInput()" ng-focus="addInput()" readonly placeholder="click to add">
</div>
<div class="multibox-popup pk-popup pk-popup-autocomplete" tabindex="-1">
  <div class="pk-popup-item"
       ng-class="{
          'pk-popup-item-unmatched': isOptionUnmatched(activeOption, popupOption),
          'pk-popup-item-matched': isOptionMatched(activeOption, popupOption),
          'pk-popup-item-selected': isOptionSelected(activeOption, popupOption)}"
       ng-repeat="popupOption in multiboxData"
       ng-click="selectValue(popupOption)">
    {{ getPopupValue(popupOption) }}
  </div>
</div>
