<div class="multibox-row" ng-repeat="option in multiboxSelectedOptions">
  <input
      class="multibox-input-control form-control sidebar-input-full"
      placeholder="field name"
      ng-model="option[displayProp]"
      ng-blur="blurInput($event)"
      ng-focus="focusInput($event, option)">
  <span class="glyphicon glyphicon-remove"
        ng-click="unselectOptionAt($index)"></span>
</div>
<div class="multibox-row multibox-insert-row" ng-hide="isInsertRowFocused()">
  <input class="multibox-insert-control form-control sidebar-input-full"
      ng-click="addInput()" ng-focus="addInput()" readonly>
</div>
<div class="multibox-popup perfkit-popup perfkit-popup-autocomplete" tabindex="-1">
  <div class="perfkit-popup-item"
       ng-class="{
          'perfkit-popup-item-unmatched': isOptionUnmatched(activeOption, popupOption),
          'perfkit-popup-item-matched': isOptionMatched(activeOption, popupOption),
          'perfkit-popup-item-selected': isOptionSelected(activeOption, popupOption)}"
       ng-repeat="popupOption in multiboxData"
       ng-click="selectValue(popupOption)">
    {{ getPopupValue(popupOption) }}
  </div>
</div>
