<div>
  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">instance</div>
    <div class="pk-sidebar-item-value">
      <input class="form-control widget_datasource_instance"
             ng-model="ngModel.datasource.config.cloudsql.instance"
             placeholder="{{ dashboardSvc.current.model.config.cloudsql.instance }}">
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">database name</div>
    <div class="pk-sidebar-item-value">
      <input class="form-control widget_datasource_database_name"
             ng-model="ngModel.datasource.config.cloudsql.database_name"
             placeholder="{{ dashboardSvc.current.model.config.cloudsql.database_name }}">
    </div>
  </div>

</div>