<div class="pk-sidebar-group-title">Cloud SQL Settings</div>

<div class="pk-sidebar-note">
  Provide the credentials used to authenticate to Cloud SQL datasources.  Database owners will
  need to grant permissions to this account.  <b>Ensure that you only grant <code>SELECT</code>
  access to the relevant tables/views</b>. You can read more about cloudsql security in the 
  <a href="http://dev.mysql.com/doc/refman/5.6/en/grant.html" target="_blank">MySql documentation</a>,
  or use the example scripts below.
  <div>
    <code>
      CREATE USER '{{ ngModel.username || 'username' }}'@'localhost' IDENTIFIED BY '{{ ngModel.password || 'password' }}';<br>
      GRANT SELECT ON db1.* TO '{{ ngModel.username }}'@'localhost';<br>
      GRANT SELECT ON db2.table1 TO '{{ ngModel.username }}'@'localhost';<br>
    </code>
  </div>
</div>

<div class="pk-sidebar-item">
  <div class="pk-sidebar-item-label">
    <label for="cloudsql_username">username</label></div>
  <div class="pk-sidebar-item-value">
    <input class="form-control"
            id="cloudsql_username"
            placeholder="username"
            ng-model="ngModel.username">
  </div>
</div>

<div class="pk-sidebar-item">
  <div class="pk-sidebar-item-label">
    <label for="cloudsql_password">password</label></div>
  <div class="pk-sidebar-item-value">
    <input class="form-control"
            id="cloudsql_password"
            placeholder="password"
            ng-model="ngModel.password">
  </div>
</div>
