<div class="pk-sidebar-group-title">Cloud SQL Settings</div>
<div class="pk-sidebar-item">
  <div class="pk-sidebar-item-label">
    <label for="cloudsql_username">username</label></div>
  <div class="pk-sidebar-item-value">
    <input class="form-control"
            id="cloudsql_username"
            ng-model="ngModel.username">
  </div>
</div>

<div class="pk-sidebar-item">
  <div class="pk-sidebar-item-label">
    <label for="cloudsql_password">password</label></div>
  <div class="pk-sidebar-item-value">
    <input class="form-control"
            id="cloudsql_password"
            ng-model="ngModel.password">
  </div>
</div>
