<div class="pk-page-content-cell pk-background"
     ng-click="dashboardSvc.onDashboardClick($event)">
  <div class="spinner" ng-show="explorerSvc.model.dashboardIsLoading"></div>

  <div ng-repeat="container in dashboardSvc.containers"
       class="pk-container pk-container-{{ container.model.id }} pk-background"
       ng-class="{'pk-container-selected': container.state().selected}">

    <container class="pk-container-content" layout="column"
               ng-model="container.model"
               ng-click="clickContainer($event, container)">
      <div ng-show="container.model.container.header_text || container.model.container.header_height"
           class="pk-container-header"
           ng-class="{'pk-section-fixed-height': container.model.container.header_height}"
           ng-style="{'height': container.model.container.header_height + 'px'}"
           markdown-to-html="container.model.container.header_text | stripHtml">
      </div>
      <div layout="row" flex>
        <perfkit-widget class="pk-widget pk-widget-{{ widget.model.id }} pk-background"
                ng-repeat="widget in container.model.container.children"
                widget-config="widget" flex>
          <div class="pk-widget-toolbar">
            <span class="glyphicon glyphicon-remove pk-widget-button"
                  ng-hide="explorerSvc.model.readOnly"
                  ng-click="removeWidget($event, widget, container)"></span>
            <span class="glyphicon glyphicon-refresh pk-widget-button"
                  ng-show="widget.model.type === widgetFactorySvc.widgetTypes.CHART"
                  ng-click="clickRefreshWidget($event, widget)"></span>
            <a class="pk-widget-button"
               ng-show="widget.model.url"
               ng-click="$event.stopPropagation()"
               ng-href="{{ dashboardSvc.replaceTokens(widget.model.url) }}">
              <span class="glyphicon glyphicon-link"></span>
            </a>
            <div class="pk-widget-title"
                 ng-click="clickWidget($event, widget, container)"
                 ng-bind="dashboardSvc.replaceTokens(widget.model.title)"></div>
          </div>
          <div ng-show="widget.model.header_text || container.model.container.widget_header_height"
              class="pk-widget-section-text"
              ng-class="{'pk-section-fixed-height': container.model.container.widget_header_height}"
              ng-click="clickWidget($event, widget, container)"
              ng-style="{'height': container.model.container.widget_header_height + 'px'}"
              markdown-to-html="(widget.model.header_text || '') | stripHtml">
          </div>
          <div class="pk-widget-content"
               ng-style="{height: isWidgetScrollable(widget, container) ? container.model.container.height + 'px' : 'auto',
                          'min-height': container.model.container.height + 'px',
                          'overflow-y': isWidgetScrollable(widget, container) ? 'auto' : 'visible'}"
               ng-click="clickWidget($event, widget, container)">
            <gviz-chart-widget widget-config="widget"
                 ng-if="widget.model.type == widgetFactorySvc.widgetTypes.CHART"></gviz-chart-widget>
            <div class="pk-widget-section-text"
                 ng-if="widget.model.type == widgetFactorySvc.widgetTypes.TEXT"
                 ng-show="widget.model.datasource.text"
                 markdown-to-html="widget.model.datasource.text | stripHtml">
            </div>
          </div>
          <div ng-show="widget.model.footer_text || container.model.container.widget_footer_height"
              class="pk-widget-section-text"
              ng-class="{'pk-section-fixed-height': container.model.container.widget_footer_height}"
              ng-click="clickWidget($event, widget, container)"
              ng-style="{'height': container.model.container.widget_footer_height + 'px'}"
              markdown-to-html="(widget.model.footer_text || '') | stripHtml">
          </div>
          <div class="pk-widget-footer" ng-show="widget.model.show_statistics"
               ng-click="clickWidget($event, widget, container)">
            <widget-statistics
                ng-model="widget"></widget-statistics>
          </div>
        </perfkit-widget>
      </div>
      <div ng-show="container.model.container.footer_text || container.model.container.footer_height"
           class="pk-container-footer"
           ng-class="{'pk-section-fixed-height': container.model.container.footer_height}"
           ng-style="{'height': container.model.container.footer_height + 'px'}"
           markdown-to-html="container.model.container.footer_text | stripHtml">
      </div>
    </container>
  </div>

  <div ng-hide="explorerSvc.model.readOnly" class="pk-background">
    <button class="btn btn-primary"
            ng-click="containerSvc.insert()">INSERT CONTAINER</button>
  </div>
</div>
