<div class="sidebar-group">
  <div class="sidebar-group-title">Dashboard</div>

  <div class="sidebar-item">
    <div class="sidebar-item-label">id</div>
    <div class="sidebar-item-value">
      <input id="dashboard-id"
             class="form-control"
             type="text"
             readonly="true"
             ng-model="ngModel.id">
    </div>
  </div>
  <div class="sidebar-item">
    <div class="sidebar-item-label">title</div>
    <div class="sidebar-item-value">
      <input type="text"
             class="form-control"
             ng-model="ngModel.title">
    </div>
  </div>
  <div class="sidebar-item">
    <div class="sidebar-item-label">owner</div>
    <div class="sidebar-item-value">
      <input id="dashboard-id"
             type="text"
             class="form-control"
             ng-model="ngModel.owner">
    </div>
  </div>

  <div class="sidebar-item">
    <div class="sidebar-item-label">writers</div>
    <div class="sidebar-item-value">
      <span
          multibox
          multibox-display-prop="email"
          multibox-popup-prop="email"
          multibox-focus-on-select="true"
          multibox-on-insert-option="dashboardSvc.addWriter()"
          multibox-selected-options="dashboardSvc.current.model.writers">
      </span>
    </div>
  </div>

  <div class="sidebar-item" ng-show="explorerSvc.CURRENT_USER_ADMIN === true">
    <div class="sidebar-item-label">version</div>
    <div class="sidebar-item-value">
      <input id="dashboard-id"
             type="text"
             class="form-control"
             ng-model="ngModel.version">
    </div>
  </div>

  <div class="sidebar-group-title">Datasource Defaults</div>

  <div class="sidebar-item">
    <div class="sidebar-item-label">project id</div>
    <div class="sidebar-item-value">
      <input class="form-control"
             ng-model="ngModel.project_id"
             placeholder="{{ dashboardSvc.DEFAULT_PROJECT_ID }}">
    </div>
  </div>

  <div class="sidebar-item">
    <div class="sidebar-item-label">dataset</div>
    <div class="sidebar-item-value">
      <input class="form-control"
             ng-model="ngModel.dataset_name"
             placeholder="{{ dashboardSvc.DEFAULT_DATASET_NAME }}">
    </div>
  </div>

  <div class="sidebar-item">
    <div class="sidebar-item-label">table</div>
    <div class="sidebar-item-value">
      <input class="form-control"
             ng-model="ngModel.table_name"
             placeholder="{{ dashboardSvc.DEFAULT_TABLE_NAME }}">
    </div>
  </div>

  <div class="sidebar-item">
    <div class="sidebar-item-label">table format</div>
    <div class="sidebar-item-value">
      <select class="form-control"
              ng-model="ngModel.table_partition">
        <option>OneTable</option>
        <option>PerDay</option>
      </select>
    </div>
  </div>

</div>

