<div class="pk-page-content-cell pk-background"
     ng-click="dashboardSvc.onDashboardClick($event)">
  <div class="spinner" ng-show="explorerSvc.model.dashboardIsLoading"></div>

  <div ng-repeat="container in dashboardSvc.containers"
       class="pk-container pk-container-{{ container.model.id }} pk-background"
       ng-class="{'pk-container-selected': container.state().selected}">

    <container class="pk-container-content" layout="column"
               ng-model="container.model"
               ng-click="clickContainer($event, container)">
      <div ng-show="container.model.container.header_text"
           class="pk-container-header" btf-markdown="container.model.container.header_text">
      </div>
      <div layout="row" flex>
        <perfkit-widget class="pk-widget pk-widget-{{ widget.model.id }} pk-background"
                ng-repeat="widget in container.model.container.children"
                widget-config="widget" flex>
          <div class="pk-widget-header">
            <span class="glyphicon glyphicon-remove pk-widget-button"
                  ng-hide="explorerSvc.model.readOnly"
                  ng-click="dashboardSvc.removeWidget(widget, container)"></span>
            <span class="glyphicon glyphicon-refresh pk-widget-button"
                  ng-click="clickRefreshWidget($event, widget)"></span>
            <a class="pk-widget-button"
               ng-show="widget.model.url"
               ng-click="$event.stopPropagation()"
               ng-href="{{ dashboardSvc.replaceTokens(widget.model.url) }}">
              <span class="glyphicon glyphicon-link"></span>
            </a>
            <div class="pk-widget-title"
                 ng-click="clickWidget($event, widget, container)"
                 ng-bind="dashboardSvc.replaceTokens(widget.model.title)"></div>
          </div>
          <div class="pk-widget-content"
               style="min-height: {{ container.model.container.height }}px"
               ng-click="clickWidget($event, widget, container)">
            <gviz-chart-widget widget-config="widget"/>
          </div>
          <div class="pk-widget-footer" ng-show="widget.model.show_statistics">
            <widget-statistics
                ng-model="widget"></widget-statistics>
          </div>
        </perfkit-widget>
      </div>
      <div ng-show="container.model.container.footer_text"
           class="pk-container-footer" btf-markdown="container.model.container.footer_text">
      </div>
    </container>
  </div>

  <div ng-hide="explorerSvc.model.readOnly" class="pk-background">
    <button class="btn btn-primary"
            ng-click="containerSvc.insert()">INSERT CONTAINER</button>
  </div>
</div>
