/*
 * Contains styles for the dashboard config and panel.
 *
 * Color comments in the form color:number (eg: blue:900) are
 * from Material Design, and can be found in context at
 * https://www.google.com/design/spec/style/color.html#color-color-palette
 */
.dashboard-tab {
  background-color: #eeeeee; /** grey: 200 */
  border-right: 3px solid #eeeeee;
  color: #212121; /** grey: 900 */
}

.dashboard-tab.pk-sidebar-tab-selected {
  background-color: #424242; /** grey: 800 */
  border-right: 3px solid #424242; /** grey:800 */
  color: #fafafa; /** grey: 50 */
}

.dashboard-tab:hover,
.dashboard-tab.pk-sidebar-tab-selected:hover {
  background-color: #bdbdbd; /** grey:400 */
  border-right: 3px solid #616161; /** grey:700 */
  color: #212121; /** grey: 900 */
}

.dashboard-panel-title {
  background-color: #424242; /** grey: 800 */
  color: #fafafa; /** grey: 50 */
}

.dashboard-panel {
  border-left: 1px solid #424242; /** grey:800 */
  border-right: 1px solid #424242; /** grey:800 */
}

.dashboard-toolbar {
  background-color: #424242; /** grey: 800 */
  color: #eeeeee; /** grey:100 */
}

.dashboard-toolbar .btn:hover {
  background-color: #616161; /** grey: 700 */
}

.dashboard-toolbar .open>.dropdown-toggle.btn-default {
  background-color: #616161; /** grey: 700 */
  border-color: transparent;
  color: #fafafa; /** grey: 50 */
}

.param-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.param-row > input {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border-left: 0px;
  flex-grow: 1;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  width: 50%;
}

.param-row:not(:last-child) > * {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.param-row > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-left: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.param-row > :first-child {
  border-left: 1px solid #ccc;
}

.param-row:not(:last-child) > * {
  border-bottom: 0px;
}

.param-row:first-child > :first-child {
  border-top-left-radius: 4px;
}

.param-row:last-child > :first-child {
  border-bottom-left-radius: 4px;
}

.param-row:first-child > :last-child {
  border-top-right-radius: 4px;
}

.param-row:last-child > :last-child {
  border-bottom-right-radius: 4px;
}

.checkbox-row {
  height: 30px;
}

.checkbox-row td {
  vertical-align: top;
}

.checkbox-row-checkbox {
  padding-top: 7px;
  padding-right: 2px;
}

.checkbox-row-checkbox md-checkbox {
  margin: 0 !important;
}

.checkbox-row-text {
  padding-top: 9px;
  white-space: nowrap;
  padding-left: 6px;
  padding-right: 6px;
}

.checkbox-row-select {
  padding-top: 3px;
}

.checkbox-row-select md-select {
  margin-bottom: 0 !important;
}

.checkbox-row-select md-select-value {
  padding-top: 0;
}
