<div class="perfkit-popup perfkit-popup-autocomplete" tabindex="-1">
  <div class="perfkit-popup-item"
       ng-class="{'perfkit-popup-item-unmatched': (
              popupboxModel.length != 0 && popupboxModel != null &&
              data.slice(0, popupboxModel.length).toUpperCase() != popupboxModel.toUpperCase()),
              'perfkit-popup-item-matched': (
              popupboxModel.length != 0 && popupboxModel != null &&
              data.slice(0, popupboxModel.length).toUpperCase() == popupboxModel.toUpperCase())}"
       ng-repeat="data in popupboxData"
       ng-click="selectValue(data);">
    {{ getDisplayValue(data) }}
  </div>
</div>
