.perfkit-popup {
  background-color: #fff;
  border: 1px solid #999;
  max-height: 400px;
  position: absolute;
  white-space: nowrap;
  z-index:65000;
}

.perfkit-popup-autocomplete {
  overflow-y: auto;
}

.perfkit-popup-item {
  padding: 4px;
}

.perfkit-popup-item:hover {
  background-color: #ddd;
  cursor: pointer;
  padding: 4px;
}

.perfkit-popup-item-selected {
  background-color: #ccc;
  font-weight: bold;
}

.perfkit-popup-title {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  height: 24px;
  padding: 4px;
}

.perfkit-popup-leftwell {
  border-right: 1px solid #ccc;
  float: left;
  max-height: 300px;
  min-width: 120px;
  overflow-y: scroll;
  vertical-align: top;
}

.perfkit-popup-content {
  display: table-cell;
  vertical-align: top;
  width: auto;
}

.perfkit-popup-note {
  background-color: #ffc;
  color: #666;
  font-style: italic;
  padding: 4px;
}
