<div class="pk-popup pk-popup-autocomplete" tabindex="-1">
  <div class="pk-popup-loading" ng-show="popupboxState === 'LOADING'">
    Loading...
  </div>
  <div class="pk-popup-error" ng-show="popupboxState === 'ERROR'">
    Error loading data!
  </div>
  <div class="pk-popup-empty" ng-show="popupboxState === 'EMPTY'">
    No items to display.
  </div>
  <div class="pk-popup-loaded"
       ng-show="!popupboxState || (popupboxState === 'LOADED')">
    <div class="pk-popup-item"
         ng-repeat="data in popupboxData | filter:startsWith"
         ng-click="selectValue(data);">
      {{ getDisplayValue(data) }}
    </div>
  </div>
</div>
