.pk-popup {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 4px;
  max-height: 90%;
  max-width: 70%;
  position: absolute;
  white-space: nowrap;
  z-index:65000;
}

.pk-popup-autocomplete {
  overflow-y: scroll;
}

.pk-popup-item {
  padding: 4px;
}

.pk-popup-item:hover {
  background-color: #ddd;
  cursor: pointer;
  padding: 4px;
}

.pk-popup-item-selected {
  background-color: #ccc;
  font-weight: bold;
}

.pk-popup-title {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  height: 24px;
  padding: 4px;
}

.pk-popup-leftwell {
  border-right: 1px solid #ccc;
  float: left;
  max-height: 300px;
  min-width: 120px;
  overflow-y: scroll;
  vertical-align: top;
}

.pk-popup-content {
  display: table-cell;
  vertical-align: top;
  width: auto;
}

.pk-popup-note {
  background-color: #ffc;
  color: #666;
  font-style: italic;
  padding: 4px;
}

.pk-popup-loading {
  background-color: #ffc;
  color: #666;
  font-style: italic;
  padding: 4px;
}

.pk-popup-error {
  color: red;
  font-style: italic;
  font-weight: bold;
  padding: 4px;
}

.pk-popup-empty {
  background-color: #ffc;
  color: #666;
  font-style: italic;
  padding: 4px;
}
