<div>

  <div class="pk-sidebar-group-note" ng-hide="ngModel">
    Click on a widget to the right to select a container and modify its
    properties.
  </div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">display columns</div>
    <div class="pk-sidebar-item-value">
      <input type="number" min="1" class="form-control container-columns"
             ng-model="ngModel.columns" ng-disabled="!ngModel">
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">height</div>
    <div class="pk-sidebar-item-value">
      <input input type="number" min="1"
          class="form-control container-height"
          ng-model="ngModel.height" ng-disabled="!ngModel">
    </div>
  </div>

  <div class="pk-sidebar-item">
    <md-tooltip md-direction="right">
      Header text is formatted using "Showdown" markdown.  Click the link for help and details.
    </md-tooltip>
    <div class="pk-sidebar-item-label">
      header text (formatted with
      <a href="http://showdownjs.github.io/demo/" target="_blank">Showdown</a>)
    </div>
    <div class="pk-sidebar-item-value">
      <textarea class="form-control container-header-text"
          ng-model="ngModel.header_text" ng-disabled="!ngModel"></textarea>
    </div>
  </div>

  <div class="pk-sidebar-item">
    <md-tooltip md-direction="right">
      Footer text is formatted using "Showdown" markdown.  Click the link for help and details.
    </md-tooltip>
    <div class="pk-sidebar-item-label">
      footer text (formatted with
      <a href="http://showdownjs.github.io/demo/" target="_blank">Showdown</a>)
    </div>
    <div class="pk-sidebar-item-value">
      <textarea class="form-control container-footer-text"
          ng-model="ngModel.footer_text" ng-disabled="!ngModel"></textarea>
    </div>
  </div>

</div>
