<div>

  <div class="sidebar-item">
    <div class="sidebar-item-label">display columns</div>
    <div class="sidebar-item-value">
      <input type="number" min="1" class="form-control container-columns"
             ng-model="ngModel.columns">
    </div>
  </div>

  <div class="sidebar-item">
    <div class="sidebar-item-label">height</div>
    <div class="sidebar-item-value">
      <input input type="number" min="1"
          class="form-control container-height"
          ng-model="ngModel.height">
    </div>
  </div>

</div>
