.pk-container-content {
  background: #f5f5f5;
  display: flex;
  display: -webkit-flex;
  padding: 2px;
}

.pk-container:not(.pk-container-selected) > .pk-container-content:hover,
.pk-container:not(.pk-container-selected-implicit) > .pk-container-content:hover {
  background: #e0e0e0;
  border: 1px dashed #bdbdbd;
  padding: 1px;
}

/** Prevent trailing margin for mardown elements inside a container or child */
.pk-container p:last-child {
    margin: 0;
}

.pk-container-selected > .pk-container-content {
  background: #e0e0e0;
  /* Force border and padding changes to maintain jank-free border changes. */
  border: 2px solid #616161 !important;
  padding: 0 !important;
}

/* -implicit specifies that the container is selected because a child is selected. */
.pk-container-selected-implicit > .pk-container-content {
  background: #e0e0e0;
  /* Force border and padding changes to maintain jank-free border changes. */
  border: 1px solid #bdbdbd !important;
  padding: 1px !important;
}

.pk-container-content.flex-row {
  flex-flow: row;
  -webkit-flex-flow: row;
}

.pk-container-content.flex-column {
  flex-flow: column;
  -webkit-flex-flow: column;
}

.pk-container-content.flex-wrap {
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}

.pk-container-header {
  padding-left: 26px;
  padding-top: 16px;
  padding-right: 26px;
}

.pk-container-footer {
  padding-left: 26px;
  padding-bottom: 16px;
  padding-right: 26px;
}
