.pk-container {
  border: 1px solid #fff;
}

.pk-container-selected {
  background: #fafafa;
  border: 1px dashed;
  border-color: #e0e0e0;
}

.pk-container-content {
  display: flex;
  display: -webkit-flex;
}

.pk-container-content.flex-row {
  flex-flow: row;
  -webkit-flex-flow: row;
}

.pk-container-content.flex-column {
  flex-flow: column;
  -webkit-flex-flow: column;
}

.pk-container-content.flex-wrap {
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}

.pk-container-header {
  padding-left: 26px;
  padding-top: 16px;
  padding-right: 26px;
}

.pk-container-footer {
  padding-left: 26px;
  padding-bottom: 16px;
  padding-right: 26px;
}
