<div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">display columns</div>
    <div class="pk-sidebar-item-value">
      <input type="number" min="1" class="form-control container-columns"
             ng-model="ngModel.columns">
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">height</div>
    <div class="pk-sidebar-item-value">
      <input input type="number" min="1"
          class="form-control container-height"
          ng-model="ngModel.height">
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">header</div>
    <div class="pk-sidebar-item-value">
      <textarea class="form-control container-header-text"
          ng-model="ngModel.header_text"></textarea>
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">footer</div>
    <div class="pk-sidebar-item-value">
      <textarea class="form-control container-footer-text"
          ng-model="ngModel.footer_text"></textarea>
    </div>
  </div>

</div>
