<!DOCTYPE html>
<html lang="en" ng-app="explorer" ng-controller="DashboardAdminPageCtrl as pageCtrl">
<head>
  <title>Perfkit - Dashboard Administration</title>
  <!-- JQuery & Angular -->
  <script src="/static/third_party/jquery/jquery.js"></script>
  <script src="/static/third_party/angularjs/angular.js"></script>
  <script src="/static/third_party/angularjs/angular-mocks.js"></script>

  <!-- AngularUI Grid -->
  <script src="/static/third_party/uiGrid/ui-grid.js"></script>
  <link href="/static/third_party/uiGrid/ui-grid.css" rel="stylesheet">

  <!-- Bootstrap & Bootstrap UI -->
  <script src="/static/third_party/bootstrap-ui/bootstrap-ui.js"></script>

  <script>
    var CURRENT_USER_EMAIL = '[[current_user_email]]';
    var CURRENT_USER_ADMIN = [[current_user_admin]];
    [% autoescape false %]
    var INITIAL_CONFIG =  [[initial_config]];
    [% endautoescape %]
  </script>

  <!-- Perfkit -->
  <script src="[[static_dir]]/perfkit_scripts.js"></script>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="[[static_dir]]/perfkit_styles.css" />
</head>
<body>

<div class="perfkit-page">

  <div class="perfkit-header">
    <div class="perfkit-header-section page-title">Perfkit Dashboard Administration</div>
    <div class="perfkit-header-section perfkit-toolbar">
      <button type="button" class="btn btn-default"
              ng-click="pageCtrl.createDashboard()">Create</button>
      <button type="button" class="btn btn-default"
              ng-click="pageCtrl.uploadDashboard()">Upload</button>
      <button type="button" class="btn btn-primary"
              ng-click="pageCtrl.listDashboards()">Refresh</button>
      <span ng-show="pageCtrl.getSelected()">
        <button type="button" class="btn btn-default"
                ng-click="pageCtrl.openDashboard(pageCtrl.getSelected())">Open</button>
        <button type="button" class="btn btn-default" ng-hide="pageCtrl.pageService.model.mine"
                ng-click="pageCtrl.listDashboardsByOwner(pageCtrl.getSelected().owner)">More from this owner</button>
        <button type="button" class="btn btn-default"
                ng-click="pageCtrl.copyDashboard()">Copy</button>
        <button type="button" class="btn btn-default"
                ng-click="pageCtrl.downloadDashboard()">Download</button>
        <button type="button" class="btn btn-default"
                ng-click="pageCtrl.renameDashboard()">Rename</button>
        <button type="button" class="btn btn-default"
                ng-click="pageCtrl.editDashboardOwner()">Edit owner</button>
        <button type="button" class="btn btn-default"
                ng-click="pageCtrl.deleteDashboard()">Delete</button>
      </span>

      <div style="float: right;">
        <button type="button" class="btn btn-default dropdown-toggle">
          <span class="glyphicon glyphicon-cog"></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li ng-show="pageCtrl.pageService.CURRENT_USER_ADMIN"
              ng-click="pageCtrl.editConfig()">
            <a>Edit config</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="perfkit-page-body">

    <div class="perfkit-page-sidebar-left">
      <div class="perfkit-page-sidebar-option"
           ng-class="{'perfkit-page-sidebar-option-selected': !pageCtrl.pageService.model.mine && !pageCtrl.pageService.model.filter_owner}"
           ng-click="pageCtrl.listAllDashboards()">All dashboards</div>
      <div class="perfkit-page-sidebar-option"
           ng-class="{'perfkit-page-sidebar-option-selected': pageCtrl.pageService.model.mine}"
           ng-click="pageCtrl.listMyDashboards()">Owned by me</div>
      <div class="perfkit-page-sidebar-option">
        <input type="checkbox"
               ng-model="pageCtrl.pageService.model.filter_query">
        <span>Filter by Query Contents</span>
      </div>
      <div class="perfkit-page-sidebar-option"
           ng-show="pageCtrl.pageService.model.filter_query">
        <input type="text"
               class="form-control"
               ng-model="pageCtrl.pageService.model.filter_query_expr">
      </div>
    </div>

    <div class="perfkit-page-content" ui-grid="pageCtrl.gridOptions" external-scopes="gridScope"
         ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection />
  </div>
</div>
</body>
</html>
