<!DOCTYPE html>
<html lang="en" ng-app="explorer" ng-controller="DashboardAdminPageCtrl as pageCtrl">
<head>
  <title>Perfkit - Dashboard Administration</title>

  <base href="/">

  <!-- JQuery & Angular -->
  <script src="[[static_dir]]/third_party/jquery/jquery.min.js"></script>
  <script src="[[static_dir]]/third_party/angular/angular.min.js"></script>
  <script src="[[static_dir]]/third_party/angular/angular-animate.min.js"></script>
  <script src="[[static_dir]]/third_party/angular/angular-aria.min.js"></script>
  <script src="[[static_dir]]/third_party/angular/angular-mocks.js"></script>

  <!-- Angular Material -->
  <link rel="stylesheet" href="[[static_dir]]/third_party/angular-material/angular-material.min.css">
  <script src="[[static_dir]]/third_party/angular-material/angular-material.min.js"></script>
  <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" />

  <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  <!-- AngularUI Grid -->
  <script src="[[static_dir]]/third_party/ui-grid/ui-grid.js"></script>
  <link href="[[static_dir]]/third_party/ui-grid/ui-grid.css" rel="stylesheet">

  <!-- CodeMirror3 Editor -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.24.0/codemirror.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.24.0/mode/javascript/javascript.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.24.0/mode/sql/sql.js"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.24.0/codemirror.css" rel="stylesheet">

  <!-- Bootstrap & Bootstrap UI -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  <script type="text/javascript" src="//www.google.com/jsapi"></script>

  <script>
    // Initialize Google Visualizations
    try {
      google.load('visualization', '1', {packages: ['corechart', 'charteditor']});
    } catch (err) { }

    var CURRENT_USER_EMAIL = '[[current_user_email]]';
    var CURRENT_USER_ADMIN = [[current_user_admin]];
    [% autoescape false %]
    var INITIAL_CONFIG =  [[initial_config]];
    [% endautoescape %]
  </script>

  <!-- Perfkit -->
  <script src="[[static_dir]]/perfkit_templates.js"></script>
  <script src="[[static_dir]]/perfkit_scripts.js"></script>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="[[static_dir]]/perfkit_styles.css" />
</head>
<body>

<div class="perfkit-page">

  <div class="perfkit-header">
    <div class="perfkit-header-section page-title">Perfkit Dashboard Administration</div>
    <div class="perfkit-header-section perfkit-toolbar">
      <button type="button" class="btn btn-default"
              ng-click="pageCtrl.createDashboard()">Create</button>
      <button type="button" class="btn btn-default"
              ng-click="pageCtrl.uploadDashboard()">Upload</button>
      <span ng-show="pageCtrl.getSelected()">
        <button type="button" class="btn btn-default"
                ng-click="pageCtrl.openDashboard(pageCtrl.getSelected())">Open</button>
        <button type="button" class="btn btn-default" ng-hide="pageCtrl.pageService.model.mine"
                ng-click="pageCtrl.listDashboardsByOwner(pageCtrl.getSelected().owner)">More from this owner</button>
        <button type="button" class="btn btn-default"
                ng-click="pageCtrl.copyDashboard()">Copy</button>
        <button type="button" class="btn btn-default"
                ng-click="pageCtrl.downloadDashboard()">Download</button>
        <button type="button" class="btn btn-default"
                ng-click="pageCtrl.renameDashboard()">Rename</button>
        <button type="button" class="btn btn-default"
                ng-click="pageCtrl.editDashboardOwner()">Edit owner</button>
        <button type="button" class="btn btn-default"
                ng-click="pageCtrl.deleteDashboard()">Delete</button>
      </span>

      <div style="float: right;">
        <button type="button" class="btn btn-default dropdown-toggle">
          <span class="glyphicon glyphicon-cog"></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li ng-show="pageCtrl.pageService.CURRENT_USER_ADMIN"
              ng-click="pageCtrl.editConfig()">
            <a>Edit config</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="perfkit-page-body">

    <div class="perfkit-page-sidebar-left">
      <div class="perfkit-page-sidebar-option"
           ng-class="{'perfkit-page-sidebar-option-selected': !pageCtrl.pageService.model.mine && !pageCtrl.pageService.model.filter_owner}"
           ng-click="pageCtrl.listAllDashboards()">All dashboards</div>
      <div class="perfkit-page-sidebar-option"
           ng-class="{'perfkit-page-sidebar-option-selected': pageCtrl.pageService.model.mine}"
           ng-click="pageCtrl.listMyDashboards()">Owned by me</div>
    </div>

    <div class="perfkit-page-content" ui-grid="pageCtrl.gridOptions" external-scopes="gridScope"
         ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection />
  </div>
</div>
</body>
</html>
