<!DOCTYPE html>
<html lang="en" ng-app="explorer" ng-controller="ExplorerCtrl as explorerCtrl">
<head>
  <title>Perfkit - {{ explorerCtrl.dashboard.current.model.title }}</title>

  <base href="/">

  [% include 'third-party-scripts.html' %]

  <meta name="viewport" content="initial-scale=1, maximum-scale=1" />

  <script>
    // Record page view in Google Analytics.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '[[analytics_key]]', 'googleplex.com');
    ga('send', 'pageview');

    // Initialize Google Visualizations
    try {
      google.load('visualization', '1.1', {packages: [
        'corechart', 'charteditor', 'calendar', 'geochart', 'sankey']});
    } catch (err) { }

    var CURRENT_USER_EMAIL = '[[current_user_email]]';
    var CURRENT_USER_ADMIN = [[current_user_admin]];
    [% autoescape false %]
    var INITIAL_CONFIG =  [[initial_config]];
    [% endautoescape %]
  </script>

  <!-- Perfkit -->
  <script src="[[static_dir]]/perfkit_templates.js"></script>
  <script src="[[static_dir]]/perfkit_scripts.js"></script>
  <link type="text/css" rel="stylesheet" href="[[static_dir]]/perfkit_styles.css" />
</head>
<body ng-keydown="explorerCtrl.checkKeyDown($event)" layout="column">

  <div ui-view flex layout="column" />

</body>
</html>
