<!DOCTYPE html>
<html lang="en" ng-app="explorer" ng-controller="ExplorerCtrl as explorerCtrl">
<head>
  <title>Perfkit - {{ explorerCtrl.dashboard.current.model.title }}</title>

  <!-- JQuery & Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-mocks.js"></script>

  <!-- AngularUI Grid -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.7/ng-grid.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.7/ng-grid.css" rel="stylesheet">

  <!-- CodeMirror3 Editor -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/3.24.0/codemirror.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/3.24.0/mode/javascript/javascript.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/3.24.0/mode/sql/sql.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/3.24.0/codemirror.css" rel="stylesheet">

  <!-- Bootstrap & Bootstrap UI -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <script>
    // Record page view in Google Analytics.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '[[analytics_id]]', 'googleplex.com');
    ga('send', 'pageview');

    // Initialize Google Visualizations
    try {
      google.load('visualization', '1', {packages: ['corechart', 'charteditor']});
    } catch (err) { }

    var CURRENT_USER_EMAIL = '[[current_user_email]]';
    var CURRENT_USER_ADMIN = [[current_user_admin]];
    var DEFAULT_QUERY_PROJECT_ID = '[[default_query_project_id]]';
  </script>

  <!-- Perfkit -->
  <script src="/static/perfkit_scripts.js"></script>
  <link type="text/css" rel="stylesheet" href="/static/perfkit_styles.css" />
</head>
<body>

<div class="perfkit-page">

  <div class="perfkit-page-alerts">
    <alert ng-repeat="error in explorerCtrl.explorer.errorService.errors | limitTo:3"
           type="error.errorType | lowercase"
           close="explorerCtrl.explorer.errorService.removeErrorAt($index)">
      {{ error.text }}</alert>
  </div>

  <explorer-header></explorer-header>

  <div class="perfkit-page-body" ng-controller="DashboardCtrl as dashboardCtrl">

    <div class="perfkit-page-sidebar-left"
         ng-controller="QueryEditorCtrl as queryEditorCtrl"
         ng-show="dashboardCtrl.dashboard.selectedContainer && !explorerCtrl.explorer.model.readOnly">

      <query-editor />

    </div>

    <div class="perfkit-page-content">
      <div id="result-table">
        <div>

          <div class="spinner" ng-show="dashboardCtrl.dashboardIsLoading"></div>

          <div ng-repeat="container in dashboardCtrl.dashboard.widgets" class="perfkit-container"
               ng-class="{'perfkit-container-selected': widget.state().selected}">

            <container class="perfkit-container-content" container-config="container">
              <perfkit-widget class="perfkit-widget"
                      ng-repeat="widget in container.model.container.children"
                      widget-config="widget">
                <div class="perfkit-widget-header"
                     ng-click="dashboardCtrl.dashboard.selectWidget(widget, container)">
                  <span class="glyphicon glyphicon-remove" style="float: right; margin-left: 4px"
                        ng-hide="explorerCtrl.explorer.model.readOnly"
                        ng-click="dashboardCtrl.dashboard.removeWidget(widget, container)"></span>
                  <span class="glyphicon glyphicon-refresh" style="float: right; margin-left: 4px"
                        ng-click="dashboardCtrl.dashboard.refreshWidget(widget)"></span>
                  <div class="perfkit-widget-title" ng-bind="widget.model.title"></div>
                </div>
                <div class="perfkit-widget-content"
                     ng-click="dashboardCtrl.dashboard.selectWidget(widget, container)">
                  <gviz-chart-widget widget-config="widget"/>
                </div>
              </perfkit-widget>
            </container>
          </div>

          <div ng-hide="explorerCtrl.explorer.model.readOnly">
            <button class="btn btn-primary"
                    ng-click="explorerCtrl.dashboard.addContainer()">INSERT CONTAINER</button>
          </div>
        </div>
      </div>
    </div>

    <div class="perfkit-page-sidebar-right"
         ng-show="dashboardCtrl.dashboard.selectedContainer && !explorerCtrl.explorer.model.readOnly">
      <div>

        <div>
          <a  href="#"
              class="perfkit-jfk-close-button perfkit-sidebar-close-button"
              ng-click="dashboardCtrl.dashboard.selectWidget(null, null)">
          </a>
        </div>

        <div class="sidebar-group">
          <div class="sidebar-group-title">Dashboard</div>

          <div class="sidebar-item">
            <div class="sidebar-item-label">id</div>
            <div class="sidebar-item-value">
              <input id="dashboard-id"
                     class="form-control"
                     type="text"
                     readonly="true"
                     ng-model="dashboardCtrl.dashboard.current.model.id">
            </div>
          </div>

          <div class="sidebar-item">
            <div class="sidebar-item-label">title</div>
            <div class="sidebar-item-value">
              <input type="text"
                     class="form-control"
                     ng-model="dashboardCtrl.dashboard.current.model.title">
            </div>
          </div>

          <div class="sidebar-item">
            <div class="sidebar-item-label">owner</div>
            <div class="sidebar-item-value">
              <input id="dashboard-id"
                     type="text"
                     class="form-control"
                     ng-model="dashboardCtrl.dashboard.current.model.owner">
            </div>
          </div>

          <div class="sidebar-item">
            <div class="sidebar-item-label">writers</div>
            <div class="sidebar-item-value">
              <span
                  multibox
                  multibox-display-prop="email"
                  multibox-popup-prop="email"
                  multibox-focus-on-select="true"
                  multibox-on-insert-option="dashboardCtrl.dashboard.addWriter()"
                  multibox-selected-options="dashboardCtrl.dashboard.current.model.writers">
              </span>
            </div>
          </div>


          <div class="sidebar-item" ng-show="explorerCtrl.explorer.CURRENT_USER_ADMIN === true">
            <div class="sidebar-item-label">version</div>
            <div class="sidebar-item-value">
              <input id="dashboard-id"
                     type="text"
                     class="form-control"
                     ng-model="dashboardCtrl.dashboard.current.model.version">
            </div>
          </div>
        </div>

        <div class="sidebar-group">

          <div class="sidebar-group-title">Datasource Defaults</div>

          <div class="sidebar-item">
            <div class="sidebar-item-label">project id</div>
            <div class="sidebar-item-value">
              <input class="form-control"
                     ng-model="dashboardCtrl.dashboard.current.model.project_id"
                     placeholder="{{ dashboardCtrl.dashboard.DEFAULT_PROJECT_ID }}">
            </div>
          </div>

          <div class="sidebar-item">
            <div class="sidebar-item-label">dataset</div>
            <div class="sidebar-item-value">
              <input class="form-control"
                     ng-model="dashboardCtrl.dashboard.current.model.dataset_name"
                     placeholder="{{ dashboardCtrl.dashboard.DEFAULT_DATASET_NAME }}">
            </div>
          </div>

          <div class="sidebar-item">
            <div class="sidebar-item-label">table</div>
            <div class="sidebar-item-value">
              <input class="form-control"
                     ng-model="dashboardCtrl.dashboard.current.model.table_name"
                     placeholder="{{ dashboardCtrl.dashboard.DEFAULT_TABLE_NAME }}">
            </div>
          </div>

        </div>

        <div class="sidebar-group">
          <div class="sidebar-group-title">Container</div>

          <div class="sidebar-item">
            <div class="sidebar-item-label">display columns</div>
            <div class="sidebar-item-value">
              <input type="number" min="1" class="form-control"
                     ng-model="dashboardCtrl.dashboard.selectedContainer.model.container.columns">
            </div>
          </div>

          <div class="sidebar-item">
            <div class="sidebar-item-label">height</div>
            <div class="sidebar-item-value">
              <input input type="number" min="1" class="form-control"
                     ng-model="dashboardCtrl.dashboard.selectedContainer.model.container.height">
            </div>
          </div>
        </div>
      </div>

      <div ng-controller="WidgetEditorCtrl as widgetEditorCtrl"
           ng-show="dashboardCtrl.dashboard.selectedWidget.model.chart">

        <div class="sidebar-group">
          <div class="sidebar-group-title">Chart</div>

          <div class="sidebar-item">
            <div class="sidebar-item-label">title</div>
            <div class="sidebar-item-value">
              <input type="text" class="form-control" ng-model="dashboardCtrl.dashboard.selectedWidget.model.title">
            </div>
          </div>

          <div class="sidebar-item">
            <div class="sidebar-item-label">chart type</div>
            <div class="sidebar-item-value">
              <!-- TODO: Drive this list from data (probably a JSON configuration file). -->
              <select ng-model="dashboardCtrl.dashboard.selectedWidget.model.chart.chartType"
                      class="sidebar-input-full form-control">
                <option value="AreaChart">Area Chart</option>
                <option value="BarChart">Bar Chart</option>
                <option value="ColumnChart">Column Chart</option>
                <option value="ComboChart">Combo Chart</option>
                <option value="LineChart">Line Chart</option>
                <option value="PieChart">Pie Chart</option>
                <option value="ScatterChart">Scatter Chart</option>
                <option value="Table">Table</option>
              </select>
            </div>
          </div>

          <div class="sidebar-item">
            <div class="sidebar-item-label">column span</div>
            <div class="sidebar-item-value">
              <input type="number" min="1" class="form-control"
                     ng-model="dashboardCtrl.dashboard.selectedWidget.model.layout.columnspan">
            </div>
          </div>

          <div class="sidebar-group-buttons">
            <button class="btn btn-default" ng-click="widgetEditorCtrl.openChartEditor()">
              Chart editor
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="perfkit-page-footer"
       ng-hide="explorerCtrl.explorer.model.readOnly || !explorerCtrl.dashboard.selectedWidget"
       ng-controller="CodeEditorCtrl as codeEditorCtrl">
    <div ng-switch="codeEditorCtrl.settings.isOpen">
      <div ng-switch-when="true" class="perfkit-footer-open">
        <div class="perfkit-footer-toolbar">
          <span class="glyphicon glyphicon-remove" style="float: right"
                ng-click="codeEditorCtrl.closeCodeEditor()"></span>
          <div class="btn-group perfkit-toolbar-section">
            <button type="button" class="btn btn-default"
                 ng-model="codeEditorCtrl.settings.selectedMode"
                 ng-repeat="mode in codeEditorCtrl.settings.modes"
                 btn-radio="mode">{{ mode }}</button>
          </div>
          <div class="perfkit-toolbar-section">
            <button type="button" class="btn btn-primary"
                    ng-click="codeEditorCtrl.dashboard.refreshWidget(codeEditorCtrl.dashboard.selectedWidget)">
              Refresh
            </button>
            <button type="button" class="btn btn-default"
                    ng-show="!codeEditorCtrl.dashboard.selectedWidget.model.datasource.custom_query"
                    ng-click="codeEditorCtrl.explorer.customizeSql()">
              Edit SQL
            </button>
            <button type="button" class="btn btn-default"
                    ng-show="codeEditorCtrl.dashboard.selectedWidget && codeEditorCtrl.dashboard.selectedWidget.model.datasource.custom_query"
                    ng-click="codeEditorCtrl.explorer.restoreBuilder()">
              Use SQL Builder
            </button>
          </div>
        </div>
        <div ng-switch="codeEditorCtrl.settings.selectedMode">
          <div ng-switch-when="JSON">
            <div>
              <textarea codemirror="codeEditorCtrl.editorOptionsJSON"
                        ng-model="codeEditorCtrl.currentJson.text">
              </textarea>
            </div>
          </div>
          <div ng-switch-when="SQL">
            <div ng-switch="codeEditorCtrl.dashboard.selectedWidget.model.datasource.custom_query">
              <div ng-switch-when="true">
                <div>
                  <textarea codemirror="codeEditorCtrl.editorOptionsSQL"
                            ng-model="codeEditorCtrl.dashboard.selectedWidget.model.datasource.query">
                  </textarea>
                </div>
              </div>
              <div ng-switch-default>
                <div>
                  <textarea codemirror="codeEditorCtrl.editorOptionsSQLView"
                            ng-model="codeEditorCtrl.dashboard.selectedWidget.model.datasource.query">
                  </textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-switch-default class="perfkit-footer-toolbar">
        <button type="button" class="btn btn-default perfkit-footer-button"
                ng-show="codeEditorCtrl.dashboard.selectedWidget"
                ng-click="codeEditorCtrl.openWidgetJsonEditor()">
          Edit Widget JSON
        </button>
        <button type="button" class="btn btn-default perfkit-footer-button"
                ng-show="codeEditorCtrl.dashboard.selectedWidget && !codeEditorCtrl.dashboard.selectedWidget.model.datasource.custom_query"
                ng-click="codeEditorCtrl.openQuerySqlEditor()">
          View SQL
        </button>
        <button type="button" class="btn btn-default perfkit-footer-button"
                ng-show="codeEditorCtrl.dashboard.selectedWidget && codeEditorCtrl.dashboard.selectedWidget.model.datasource.custom_query"
                ng-click="codeEditorCtrl.openQuerySqlEditor()">
          Edit SQL
        </button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
