<div class="pk-sidebar-tabs" layout="column">
  <div
      class="pk-sidebar-tab {{ tab.tabClass }}"
      ng-repeat="tab in ctrl.tabSvc.tabs"
      ng-click="ctrl.tabClicked(tab)"
      ng-hide="tab.requireWidget && !ctrl.dashboardSvc.selectedWidget"
      ng-class="{'pk-sidebar-tab-selected': ctrl.tabSvc.selectedTab == tab}"
      ng-attr-selected="ctrl.tabSvc.selectedTab == tab">
    <md-tooltip
        md-delay="0" md-direction="right" md-visible="tab.tooltipVisible"
        md-autohide>
        {{ tab.hint }}</md-tooltip>
    <i class="pk-sidebar-tab-icon {{ tab.iconClass }}"></i>
    <div class="pk-sidebar-tab-label"
        ng-hide="ctrl.tabSvc.selectedTab">{{ tab.title }}</div>
  </div>
</div>
