.perfkit-sidebar-panel {
}

.perfkit-sidebar-panel-header {
  background-color: black;
  color: white;
  font-weight: bold;
  height: 34px;
  padding: 4px;
  padding-top: 8px;
}

.perfkit-sidebar-panel-content {
  overflow: auto;
  padding: 8px;
}
