<div class="perfkit-sidebar-tabs" layout="column">
  <div
      class="perfkit-sidebar-tab"
      ng-repeat="tab in tabSvc.tabs"
      ng-click="tabClicked(tab)"
      ng-hide="tab.requireWidget && !dashboardSvc.selectedWidget"
      ng-class="{'perfkit-sidebar-tab-selected': tabSvc.selectedTab == tab}">
    <md-tooltip
        md-direction="right" md-visible="tab.tooltipVisible" md-autohide>{{ tab.hint }}</md-tooltip>
    <i class="perfkit-sidebar-tab-icon {{ tab.iconClass }}"></i>
    <span ng-hide="tabSvc.selectedTab">{{ tab.title }}</span>
  </div>
</div>
