.pk-sidebar-tab {
  cursor: pointer;
  padding: 8px;
  white-space: nowrap;
}

.pk-sidebar-tab:hover {
  cursor: pointer;
  padding: 8px;
  white-space: nowrap;
}

.pk-sidebar-tab-icon {
  width: 16px
}
