/**
 * Copyright 2014 Google Inc. All rights reserved.
 *
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file or at
 * https://developers.google.com/open-source/licenses/bsd
 *
 */

.perfkit-page-sidebar-option
{
  padding: 4px;
}

.perfkit-page-sidebar-option:hover
{
  padding: 4px;
  cursor: pointer;
  background-color: #eee;
}

.perfkit-page-sidebar-option-selected
{
  font-weight: bold;
}
