<div>

  <div class="pk-sidebar-group-note">
    Use the fields below to modify the server-side configuration.  This will
    apply to all future refreshes of the Explorer and Admin pages, and the
    /config service.
  </div>

  <div class="pk-sidebar-group-title">BigQuery Settings</div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">
      <label for="default_project">default project</label></div>
    <div class="pk-sidebar-item-value">
      <input class="form-control"
             id="default_project"
             ng-model="ngModel.default_project">
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">
      <label for="default_dataset">default dataset</label></div>
    <div class="pk-sidebar-item-value">
      <input class="form-control"
             id="default_dataset"
             ng-model="ngModel.default_dataset">
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">
      <label for="default_table">default table</label></div>
    <div class="pk-sidebar-item-value">
      <input class="form-control"
             id="default_table"
             ng-model="ngModel.default_table">
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">
      <label for="cache_duration">cache duration (in seconds)</label></div>
    <div class="pk-sidebar-item-value">
      <input class="form-control"
             id="cache_duration"
             type="number"
             min="0"
             ng-model="ngModel.cache_duration">
    </div>
  </div>

  <div class="pk-sidebar-group-title">Security</div>

  <div class="pk-sidebar-note">
    Use the checkboxes below to control what non-admin users can do with dashboards and queries.
  </div>

  <table class="pk-sidebar-table">
    <tr>
      <th>&nbsp;</th>
      <th>
        <div title="Allows users to view dashboards and the execute any queries they contain">View</div>
      </th>
      <th>
        <div title="Allows users to create dashboards, and owers and writers to edit their dashboards">Save</div>
      </th>
      <th>
        <div title="Allows users to execute arbitrary BQSQL queries">Query</div>
      </th>
    </tr>
    <tr>
      <td>Admin</td>
      <td><input type="checkbox" checked disabled></td>
      <td><input type="checkbox" checked disabled></td>
      <td><input type="checkbox" checked disabled></td>
    </tr>
    <tr>
      <td>Public</td>
      <td><input type="checkbox" ng-model="ngModel.grant_view_to_public"></td>
      <td><input type="checkbox" ng-model="ngModel.grant_save_to_public"></td>
      <td><input type="checkbox" ng-model="ngModel.grant_query_to_public"></td>
    </tr>
  </table>

  <div class="pk-sidebar-group-title">Miscellaneous</div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">
      <label for="analytics_key">Google Analytics key</label></div>
    <div class="pk-sidebar-item-value">
      <input class="form-control"
             id="analytics_key"
             ng-model="ngModel.analytics_key">
    </div>
  </div>

</div>