<div>

  <div class="pk-sidebar-group-note">
    Use the fields below to modify the server-side configuration.  This will
    apply to all future refreshes of the Explorer and Admin pages, and the
    /config service.
  </div>

  <div class="pk-sidebar-group-title">BigQuery Settings</div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">
      <label for="default_project">default project</label></div>
    <div class="pk-sidebar-item-value">
      <input class="form-control"
             id="default_project"
             ng-model="ngModel.default_project">
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">
      <label for="default_dataset">default dataset</label></div>
    <div class="pk-sidebar-item-value">
      <input class="form-control"
             id="default_dataset"
             ng-model="ngModel.default_dataset">
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">
      <label for="default_table">default table</label></div>
    <div class="pk-sidebar-item-value">
      <input class="form-control"
             id="default_table"
             ng-model="ngModel.default_table">
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="sidebar-item-label">
      <label for="field_cube_dataset">field cube dataset</label></div>
    <div class="sidebar-item-value">
      <input class="form-control"
             id="field_cube_dataset"
             ng-model="ngModel.field_cube_dataset">
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="sidebar-item-label">
      <label for="field_cube_table">field cube table</label></div>
    <div class="sidebar-item-value">
      <input class="form-control"
             id="field_cube_table"
             ng-model="ngModel.field_cube_table">
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="sidebar-item-label">
      <label for="table_partition">table partition</label></div>
    <div class="sidebar-item-value">
      <select class="form-control"
              id="table_partition"
              ng-model="ngModel.table_partition">
        <option ng-repeat="option in configSvc.TABLE_PARTITIONS"
                value="{{ option.partition }}"
                title="{{ option.tooltip }}">{{ option.label }}</option>
      </select>
    </div>
  </div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">
      <label for="cache_duration">cache duration (in seconds)</label></div>
    <div class="pk-sidebar-item-value">
      <input class="form-control"
             id="cache_duration"
             type="number"
             min="0"
             ng-model="ngModel.cache_duration">
    </div>
  </div>

  <div class="sidebar-group-title">Security</div>

  <div class="sidebar-item">
    <div class="sidebar-item-label">
      <input type="checkbox"
             id="create_adminonly"
             ng-model="ngModel.create_adminonly">
      <label for="create_adminonly">Restrict Dashboard CREATE to administrators</label></div>
  </div>

  <div class="sidebar-item">
    <div class="sidebar-item-label">
      <input type="checkbox"
             id="view_adminonly"
             ng-model="ngModel.view_adminonly">
      <label for="view_adminonly">Restrict Dashboard VIEW to administrators</label></div>
  </div>

  <div class="pk-sidebar-group-title">Miscellaneous</div>

  <div class="pk-sidebar-item">
    <div class="pk-sidebar-item-label">
      <label for="analytics_key">Google Analytics key</label></div>
    <div class="pk-sidebar-item-value">
      <input class="form-control"
             id="analytics_key"
             ng-model="ngModel.analytics_key">
    </div>
  </div>

</div>