<div>

  <div class="pk-sidebar-item-label">pattern</div>
  <div class="pk-sidebar-item-value">
    <input type="number"
        class="form-control"
        ng-model="ngModel.data_format_params.pattern">
  </div>
  <md-tooltip md-direction="right">
    A custom format pattern to apply to the value, similar to the ICU date
    and time format
  </md-tooltip>

  <div class="pk-sidebar-item-label">time zone</div>
  <div class="pk-sidebar-item-value">
    <input type="number"
        class="form-control"
        ng-model="ngModel.data_format_params.pattern">
  </div>
  <md-tooltip md-direction="right">
    The time zone in which to display the date value
  </md-tooltip>

</div>