<div>

  <div class="pk-sidebar-item-label">negative color</div>
  <div class="input-group pk-sidebar-item-value">
    <input
        class="form-control column-style-series-color"
        placeholder="(default)"
        ng-model="ngModel.data_format_params.negativeColor">
    <span class="input-group-addon column-style-series-color-button">
      <input
          type="color"
          class="column-style-series-color-picker"
          ng-model="ngModel.data_format_params.negativeColor">
      <md-tooltip>
        Show a dialog that will let you pick a color
      <md-tooltip>
    </span>
  </div>
  <md-tooltip md-direction="right">
    The text color for negative values (no default value)
  </md-tooltip>

  <div class="pk-sidebar-item-label">pattern</div>
  <div class="pk-sidebar-item-value">
    <input type="text"
        class="form-control"
        ng-model="ngModel.data_format_params.pattern">
  </div>
  <md-tooltip md-direction="right">
    The format string is a subset of the ICU pattern set
  </md-tooltip>

</div>